form {
  background-color: #f1fbff;
  min-width: min-content;
  max-width: 90%;
  height: 500px;
  margin: 5% 10%;
  font-size: 30px;
  padding: 2px;
}
.form-container {
  display: flex;
  padding: 5px;
}
.avatar-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
img {
  height: 260px;
}
.user-form {
  padding: 5px;
}
::placeholder {
  color: rgb(154, 176, 184);
}
.submit-btn {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5%;
  background-color: #3dc4f2;
  margin: auto;
  min-width: 90%;
  font-weight: 700;
  font-size: 20px;
}
