.userForm {
  min-width: min-content;
  width: 400px;
  max-width: 850px;
  height: 600px;
  margin: 5% 10%;
  padding: 5px;
  background-color: #81d5f1;
  border-radius: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.form-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding: 5px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 5px;
}

img {
  height: 20rem;
  border-radius: 20px;
}
#avatarPicture {
  border: 2.5px solid teal;
}
.input-container {
  border: 3px solid;
}

.user-input {
  font-size: 20px;
}
::placeholder {
  color: rgb(154, 176, 184);
  font-size: 18px;
}
.flex-btn {
  display: flex;
  max-width: 825px;
  margin: 20px 25px;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #3dc4f2;
  margin: auto;
  min-width: 35%;
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
}
.reset-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5%;
  background-color: #81d5f1;
  margin: auto;
  min-width: 35%;
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
}
.edit-btn {
  padding: 4%;
  background-color: #3ca2c4;
  font-weight: 700;
  font-size: 20px;
  margin-top: 80px;
  width: 400px;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 0px;
  margin: 0 auto;
}
