/* .main {
    
} */

.search-form {
    text-align: center;
}

.search-field {
    background: none;
    background-color: none;
    box-shadow: none;
    border: 1.5px solid #3dc4f2;
    border-radius: 50%;
    height: 50px;
    padding: 15px;
    outline: 0;
    margin-top: 8px;
}

.search-input-text {
    text-align: center;
    font-size: 2vw;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: #3dc4f2;
}

.search-button {
    text-align: center;
    margin-top: 8px;
    background: none;
    transition-duration: 0.5s;
    color: #3dc4f2;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 1.5vw;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.search-button:hover {
    text-align: center;
    margin-top: 8px;
    background: none;
    background-color: #3dc4f2;
    color: #90d8f4;
}

.cloud1 {
    z-index: -1;
    position: absolute;
    display: flex;
    height: auto;
    width: 35%;
    top: 0;
    right: 0;
    opacity: 0.3;
}

.cloud2 {
    position: absolute;
    display: flex;
    height: auto;
    width: 35%;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.text-center {
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
}

.text-left{
    border: solid;
    border-radius: 20px;
    padding: 0px 15px 0px 15px;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    margin: 0 auto;
}

::-webkit-scrollbar-thumb {
    background: #3dc4f2;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #87cee6;
}

