body {
    background-color: #dff5fd;
}

.full-form {
    margin: 0;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tab-content {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 570px;
    border: 2px solid #3dc4f2;
    border-radius: 50%;
    padding: 50px;
    color: #3dc4f2;
}

h1 {
    font-weight: 800;
}

.field-wrap {
    padding: 10px 0px 10px 0px;
}

.req {
    padding: 0px 5px 0px 0px;
}

.input-field {
    background: none;
    background-color: none;
    box-shadow: none;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #3dc4f2;
}

.button {
    background: none;
    border-style: none;
    border-radius: 50%;
    color: #3dc4f2;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: large;
    padding: 10px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #3dc4f2;
    color: #dff5fd;
    padding: 10px;
    border-radius: 50%;
}

.logo{
    position: relative;
    display: flex;
    height: auto;
    width: 50%;
    opacity: 0.3;
}